#page-profile {
  width: 100vw;
  height: 100vh;
}

#page-profile .avatar-container {
  height: 35rem;
  background: var(--color-primary);
  padding: 3rem 6rem;
  display: flex;
}

#page-profile .avatar-container .avatar-container-background {
  flex: 1;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-wrapper {
  position: relative;
  cursor: pointer;
}

.avatar-wrapper .avatar {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: 2px solid var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.avatar-wrapper img {
  width: 180px;
  background-size: cover;
  background-position: center;
}

.avatar-wrapper input {
  display: none;
}

.avatar-wrapper .avatar-icon {
  position: absolute;
  background: var(--color-secondary);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0.5rem;
  right: 0.5rem;
  transition: background 0.2s;
}

.avatar-wrapper:hover .avatar-icon {
  background: var(--color-secondary-dark);
}

.avatar-wrapper > div > svg {
  color: var(--color-title-in-primary);
  width: 20px;
  height: 20px;
}

#page-profile .avatar-container .avatar-container-background span {
  font-size: 3rem;
  font-family: Archivo;
  font-weight: 700;
  margin: 2rem 0 4rem;
  color: var(--color-title-in-primary);
}

#page-profile main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;
}

#page-profile main form {
  display: flex;
  flex-direction: column;
}

#page-profile main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-profile main fieldset .inputs-wrapper {
  display: flex;
  flex-direction: column;
}

#page-profile main fieldset .inputs-wrapper * {
  flex: 1;
}

#page-profile .profile-last-name-container {
  margin-top: 0;
}

#page-profile main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page-profile main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

.save-button {
  margin: 3rem 6rem;
  width: auto;
}

@media (min-width: 700px) {
  #page-profile {
    max-width: 100%;
  }

  #page-profile .page-header .header-content {
    margin-bottom: 0;
  }

  #page-profile main fieldset {
    padding: 0 6.4rem;
  }

  #page-profile main fieldset .inputs-wrapper {
    flex-direction: row;
  }

  #page-profile .profile-first-name-container {
    margin-right: 1rem;
  }
  #page-profile .profile-last-name-container {
    margin-left: 1rem;
  }
}
