#page-teacher-form {
  width: 100vw;
  height: 100vh;
}

#page-teacher-form .page-header .header-content {
  margin-bottom: 6.4rem;
}

#page-teacher-form main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;
}

#page-teacher-form main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-teacher-form main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page-teacher-form main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#page-teacher-form main fieldset legend button {
  background: none;
  border: none;
  color: var(--color-primary);
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;
}

#page-teacher-form main fieldset legend button:hover {
  color: var(--color-primary-dark);
}

#page-teacher-form main label {
  color: var(--color-text-complement);
}

#page-teacher-form main footer {
  padding: 4rem 2.4rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 6.4rem;
}

#page-teacher-form main footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
}

#page-teacher-form main footer p img {
  margin-right: 2rem;
}

@media (min-width: 700px) {
  #page-teacher-form {
    max-width: 100%;
  }

  #page-teacher-form .page-header .header-content {
    margin-bottom: 0;
  }

  #page-teacher-form main fieldset {
    padding: 0 6.4rem;
  }

  #page-teacher-form main .schedule-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
  }

  #page-teacher-form main footer {
    padding: 4rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #page-teacher-form main footer p {
    justify-content: space-between;
  }

  #page-teacher-form main footer button {
    margin-left: 3rem;
    width: auto;
    margin-top: 0;
  }
}

.page-header .header-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 3.2rem auto;
}

.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.page-header .header-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2.4rem;
}

.page-header .header-description-container > div {
  display: none;
  align-items: center;
}

.page-header .header-description-container > div svg {
  margin-right: 2rem;
}

.page-header .header-description-container > div p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.page-header .header-content p {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
}

#page-teacher-form main form .avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#page-teacher-form main form img {
  width: 80px;
  background-size: cover;
  background-position: center;
}

#page-teacher-form main form .inputs-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

#page-teacher-form main form .user-info {
  display: flex;
  align-items: center;
}

#page-teacher-form main form .user-info span {
  font-family: Archivo;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
  color: var(--color-text-title);
}

#page-teacher-form main form .remove-schedule {
  display: flex;
  align-items: center;
  margin-bottom: 3.4rem;
  background: none;
  width: 100%;
}
#page-teacher-form main form .remove-schedule > div {
  height: 1px;
  background: var(--color-line-in-white);
  flex: 1;
}
#page-teacher-form main form .remove-schedule > span {
  color: var(--color-delete);
  font-family: Archivo;
  font-size: 14;
  font-weight: 600;
  margin: 0 3rem;
  transition: color 0.2s;
}
#page-teacher-form main form .remove-schedule:hover > span {
  color: var(--color-delete-dark);
}

.loading-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex: 1;
  height: 40rem;
  margin-right: 16px;
  justify-content: center;
}

@media (min-width: 700px) {
  .page-header {
    height: 340px;
  }

  .page-header .header-description-container > div {
    display: flex;
  }

  .page-header .top-bar-container {
    max-width: 1100px;
  }

  .page-header .header-content {
    flex: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .page-header .header-content strong {
    max-width: 350px;
  }
}

@media (max-width: 600px) {
  #page-teacher-form main form .inputs-wrapper {
    align-items: stretch;
    flex-direction: column;
    margin-bottom: 0;
  }

  #page-teacher-form main form .inputs-wrapper .user-info {
    margin-bottom: 3rem;
  }
}
